# SERVER CONFIGURATION
PORT=<3100>
# CORS (CROSS-ORIGIN RESOURCE SHARING) CONFIGURATION
CLIENT_URL=<CLIENT_URL>
# GOOGLE CLOUD PLATFORM CONFIGURATION
PROJECT_ID=<PROJECT_ID>
# RECAPTCHA ENTERPRISE CONFIGURATION
RECAPTCHA_KEY=<RECAPTCHA_KEY>
# GOOGLE APPLICATION CREDENTIALS
GOOGLE_APPLICATION_CREDENTIALS=<GOOGLE_APPLICATION_CREDENTIALS>
# JWT (JSON WEB TOKEN) CONFIGURATION
JWT_SECRET=<JWT_SECRET>
# SMTP EMAILING MICROSERVICE
EMAIL_MICROSERVICE_URL=<EMAIL_MICROSERVICE_URL>